section#event-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    height: auto;
    min-height: 95vh;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a#back-link {
    display: flex;
    align-items: center;
    align-self: flex-start;
    max-height: 25px;
    cursor: pointer;
    margin: 0;
    padding: 1em;
    justify-content: left;
    font-weight: 600;
}

md-card.event-detail-card {
    display: flex;
    width: 960px;
    flex-direction: column;
    padding: 0;
    height: auto;
    min-height: 85vh;
}

md-card.event-detail-card section.event-header {
    display: flex;
    margin: 0;
}

md-card.event-detail-card section.event-header div.cover-image-wrapper {
    flex: 6.5;
    max-height: 360px;
    max-width: 680px;
    overflow: hidden;
}

md-card.event-detail-card section.event-header div.cover-image-wrapper img {
    width: 100%;
    height: auto;
}

md-card.event-detail-card section.event-header aside {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif !important;
    flex: 3.5;
    padding: 1.5em;
    background: #efefef;
}

md-card.event-detail-card section.event-header aside p.event-title {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

md-card.event-detail-card section.event-header aside p.event-status {
    font-size: 1.2em;
    padding: .5em;
    width: 5em;
    font-weight: bold;
    text-align: center;
    border-radius: .5em;
    margin-top: 0;
}

md-card.event-detail-card section.event-header aside p.event-status.isDraft {
    color: #FBC02D;
    border: 3px solid #FBC02D;
}

md-card.event-detail-card section.event-header aside p.event-status.isOpen {
    color: #4CAF50;
    border: 3px solid #4CAF50;
}

md-card.event-detail-card section.event-header aside p.event-status.isSoldOut {
    color: #F44336;
    border: 3px solid #F44336;
}

md-card.event-detail-card section.event-header aside p.event-status.isClosed {
    color: #9E9E9E;
    border: 3px solid #9E9E9E;
}

md-card.event-detail-card section.event-header aside p.event-remaining-seats {
    font-size: 1.1em;
    margin-bottom: 0;
}

md-card.event-detail-card section.event-header aside button.event-register-button {
    font-size: 1.2em;
    background: #01ab45;
    color: #fff;
    outline: none;
    margin-top: auto;
    padding: .4em;
    text-transform: uppercase;
    font-weight: normal;
}

md-card.event-detail-card section.event-header aside button.event-register-button[disabled] {
    background: #9E9E9E;
    cursor: not-allowed;
}

md-card.event-detail-card section.event-content {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

md-card.event-detail-card section.event-content section.event-description {
    flex: 5;
    padding: 2.5em;
    padding-right: 5em;
    font-family: 'Open Sans', sans-serif !important;
}

md-card.event-detail-card section.event-content section.event-description h4 {
    font-size: .95em;
    text-transform: uppercase;
}

md-card.event-detail-card section.event-content section.event-description div {
    font-size: 1em;
    line-height: 1.5em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content {
    margin-top: 3.5em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen {
    display: none;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table {
    font-size: .95em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr th {
    text-align: left;
    padding-right: 1em;
    font-size: .95em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td {
    padding-right: 1em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isDraft {
    color: #FBC02D;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isOpen {
    color: #4caf50;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isSoldOut {
    color: #F44336;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isClosed {
    color: #9E9E9E;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.share-content {
    margin-top: 2em;
}

md-card.event-detail-card section.event-content aside {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 2.5em 1em 0 1em;
    font-family: 'Open Sans', sans-serif !important;
}

md-card.event-detail-card section.event-content aside div.event-date-time {
    display: flex;
    flex-direction: column;
}

md-card.event-detail-card section.event-content aside div.event-date-time h4 {
    font-size: .95em;
    text-transform: uppercase;
}

md-card.event-detail-card section.event-content aside div.event-date-time span {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: .3em;
}

md-card.event-detail-card section.event-content aside div.event-location {
    margin-top: 2em;
}

md-card.event-detail-card section.event-content aside div.event-location h4 {
    font-size: .95em;
    text-transform: uppercase;
}

md-card.event-detail-card section.event-content aside div.event-location p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

md-card.event-detail-card section.event-content aside div.event-location p span {
    display: inline-block;
    margin-right: 5px;
}

md-card.event-detail-card section.event-content aside div.event-location p a {
    text-decoration: none;
    color: #01ab45;
}

md-card.event-detail-card section.event-location-map {
    display: block;
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
}

md-card.event-detail-card section.event-location-map agm-map {
    display: block;
    height: 300px;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}

button.event-register-button-fixed {
    display: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
    section#event-detail-container,
    md-card.event-detail-card {
        width: 100%;
    }

    md-card.event-detail-card md-card-content {
        margin-bottom: 0;
    }

    a#back-link {
        position: fixed;
        width: auto;
        background: rgba(238,238,238,0.9);
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: .8em;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 1;
    }

    md-card.event-detail-card section.event-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        overflow: hidden;
    }

    md-card.event-detail-card section.event-header aside {
        align-items: center;
        padding: 1em 0;
        padding-bottom: 1.5em;
        width: 100%;
    }

    md-card.event-detail-card section.event-header aside p.event-title {
        font-size: 1.6em;
        order: -1;
    }

    md-card.event-detail-card section.event-header aside p.event-status {
        font-size: 1em;
        margin: 0;
        margin-top: 1em;
        border: 2px solid #4caf50;
    }

    md-card.event-detail-card section.event-header aside p.event-remaining-seats {
        font-size: 1em;
    }

    md-card.event-detail-card section.event-header aside button.event-register-button {
        display: none;
    }

    md-card.event-detail-card section.event-content {
        flex-direction: column;
    }

    md-card.event-detail-card section.event-content section.event-description {
        padding: 1em;
        margin-top: 1em;
    }

    md-card.event-detail-card section.event-content aside {
        order: -1;
        margin: 0;
        padding-top: .5em;
    }

    md-card.event-detail-card section.event-content aside div.event-location {
        margin-top: 1em;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content {
        margin-top: 3em;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content table {
        display: none;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen {
        display: block;
        margin: 0;
        margin-bottom: 1.5em;
        padding: 0;
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen li {
        display: block;
        margin-bottom: .2em;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen li.session-item-title {
        font-size: 1.1em;
        font-weight: bold;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen li.isDraft {
        color: #FBC02D;
        font-size: .9em;
        font-weight: bold;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen li.isOpen {
        color: #4caf50;
        font-size: .9em;
        font-weight: bold;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen li.isSoldOut {
        color: #F44336;
        font-size: .9em;
        font-weight: bold;
    }

    md-card.event-detail-card section.event-content section.event-description div.event-session-content ul.session-items-small-screen li.isClosed {
        color: #9E9E9E;
        font-size: .9em;
        font-weight: bold;
    }
    
    button.event-register-button-fixed {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 1em;
        font-weight: 400;
        padding: .4em;
        width: 100%;
        background: #01ab45;
        color: #fff;
        outline: none;
        text-transform: uppercase;
    }

    button.event-register-button-fixed[disabled] {
        background: #9E9E9E;
        cursor: not-allowed;
        color: #fff;
        opacity: .8;
    }
}