<section id="event-detail-container" [@eventAnimTrigger]="selectedEventState">
  <a (click)="navigateToEventList()" id="back-link"><i class="material-icons">arrow_back</i><span>&nbsp;Back</span></a>
  <md-card class="event-detail-card">
    <md-card-content>
      <section class="event-header">
        <div class="cover-image-wrapper">
          <img [src]="eventService.selectedEvent?.cover_image_url__c ? eventService.selectedEvent.cover_image_url__c : lookupService.defaultEventCoverImageUrl">
        </div>
        <aside>
          <p 
            class="event-status" 
            [ngClass]="{
              'isDraft': eventService.isEventDraft(eventService.selectedEvent),
              'isOpen': eventService.isEventOpen(eventService.selectedEvent),
              'isSoldOut': eventService.isEventSoldOut(eventService.selectedEvent),
              'isClosed': eventService.isEventClosed(eventService.selectedEvent)
            }">
            {{eventService.selectedEvent?.status__c}}
          </p>
          <p class="event-title">{{eventService.selectedEvent?.title__c | uppercase}}</p>
          <p class="event-remaining-seats" *ngIf="eventService.selectedEvent?.status__c == 'Open'">{{eventService.selectedEvent?.remaining_seats__c}} spots left / {{eventService.selectedEvent?.registration_limit__c}} total seats</p>
          <button 
            md-raised-button 
            class="event-register-button" 
            (click)="openEventRegisterDialog(eventService.selectedEvent?.sessions__r.records)"
            [disabled]="!eventService.isEventOpen(eventService.selectedEvent) || eventService.selectedEvent?.remaining_seats__c == 0 || eventService.selectedEvent?.remaining_seats__c < 0">Register</button>
        </aside>
      </section>
      <section class="event-content">
        <section class="event-description" *ngIf="eventService.selectedEvent?.description__c">
          <div class="event-description-content">
            <h4>Description</h4>
            <div [innerHTML]="eventService.selectedEvent?.description__c"></div>
          </div>
          <div class="event-session-content" *ngIf="eventService.selectedEvent?.sessions__r && eventService.selectedEvent?.remaining_seats__c > 0">
            <h4>Sessions</h4>
            <table>
              <tr>
                <th>Time</th>
                <th>Title</th>
                <th>Availability<th>
                <th></th>
              </tr>
              <tr *ngFor="let session of eventService.selectedEvent?.sessions__r.records | orderBy: 'Start__c'">
                <td>{{session.Start__c | DateTime: 'time'}} - {{session.End__c | DateTime: 'time'}}</td>
                <td>{{session.Title__c}}</td>
                <td>{{session.Remaining_Seats__c}} / {{session.Registration_Limit__c}}</td>
                <td [ngClass]="{
                  'isDraft': eventService.isEventSessionDraft(session),
                  'isOpen': eventService.isEventSessionOpen(session),
                  'isSoldOut': eventService.isEventSessionSoldOut(session),
                  'isClosed': eventService.isEventSessionClosed(session)
                }">{{session.Status__c}}</td>
              </tr>
            </table>
          </div>
        </section>
        <aside>
          <div class="event-date-time">
            <h4>Date And Time</h4>
            <span class="event-start-time">
              {{eventService.selectedEvent?.start__c | DateTime: 'date-long'}}
            </span>
            <span>
              {{eventService.selectedEvent?.start__c | DateTime: 'time'}} - {{eventService.selectedEvent?.end__c | DateTime: 'time'}}
            </span>
          </div>
          <div class="event-location">
            <h4>Location</h4>
            <p>{{eventService.selectedEvent?.address__c}}</p>
            <p>
              <span>{{eventService.selectedEvent?.city__c}},</span>
              <span>{{eventService.selectedEvent?.state__c}}</span>
              <span>{{eventService.selectedEvent?.zip__c}}</span>
            </p>
          </div>
        </aside>
      </section>
    </md-card-content>
    <md-card-actions>

    </md-card-actions>
  </md-card>
</section>
