section#event-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
    height: auto;
    min-height: 95vh;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}

section#event-detail-container a#back-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    max-height: 25px;
    cursor: pointer;
    margin-bottom: 1em;
}

md-card.event-detail-card {
    display: flex;
    width: 960px;
    flex-direction: column;
    padding: 0;
    height: auto;
    min-height: 85vh;
}

md-card.event-detail-card section.event-header {
    display: flex;
    margin: 0;
}

md-card.event-detail-card section.event-header div.cover-image-wrapper {
    flex: 6.5;
    max-height: 360px;
    max-width: 680px;
    overflow: hidden;
}

md-card.event-detail-card section.event-header div.cover-image-wrapper img {
    width: 100%;
    height: auto;
}

md-card.event-detail-card section.event-header aside {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif !important;
    flex: 3.5;
    padding: 1.5em;
    background: #efefef;
}

md-card.event-detail-card section.event-header aside p.event-title {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

md-card.event-detail-card section.event-header aside p.event-status {
    font-size: 1.2em;
    padding: .5em;
    width: 5em;
    font-weight: bold;
    text-align: center;
    border-radius: .5em;
    margin-top: 0;
}

md-card.event-detail-card section.event-header aside p.event-status.isDraft {
    color: #FBC02D;
    border: 3px solid #FBC02D;
}

md-card.event-detail-card section.event-header aside p.event-status.isOpen {
    color: #4CAF50;
    border: 3px solid #4CAF50;
}

md-card.event-detail-card section.event-header aside p.event-status.isSoldOut {
    color: #F44336;
    border: 3px solid #F44336;
}

md-card.event-detail-card section.event-header aside p.event-status.isClosed {
    color: #9E9E9E;
    border: 3px solid #9E9E9E;
}

md-card.event-detail-card section.event-header aside p.event-remaining-seats {
    font-size: 1.1em;
}

md-card.event-detail-card section.event-header aside button.event-register-button {
    font-size: 1.2em;
    background: #01ab45;
    color: #fff;
    outline: none;
    margin-top: auto;
    padding: .4em;
    text-transform: uppercase;
    font-weight: normal;
}

md-card.event-detail-card section.event-header aside button.event-register-button[disabled] {
    background: #9E9E9E;
    cursor: not-allowed;
}

md-card.event-detail-card section.event-content {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

md-card.event-detail-card section.event-content section.event-description {
    flex: 5;
    padding: 2.5em;
    padding-right: 5em;
    font-family: 'Open Sans', sans-serif !important;
}

md-card.event-detail-card section.event-content section.event-description h4 {
    font-size: .95em;
    text-transform: uppercase;
}

md-card.event-detail-card section.event-content section.event-description div {
    font-size: 1em;
    line-height: 1.5em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content {
    margin-top: 3.5em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table {
    font-size: .95em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr th {
    text-align: left;
    padding-right: 1em;
    font-size: .95em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td {
    padding-right: 1em;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isDraft {
    color: #FBC02D;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isOpen {
    color: #4caf50;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isSoldOut {
    color: #F44336;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content section.event-description div.event-session-content table tr td.isClosed {
    color: #9E9E9E;
    text-align: center;
    padding: 0;
    width: 6em;
    font-size: .9em;
    font-weight: bold;
}

md-card.event-detail-card section.event-content aside {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 2.5em 1em 0 1em;
    font-family: 'Open Sans', sans-serif !important;
}

md-card.event-detail-card section.event-content aside div.event-date-time {
    display: flex;
    flex-direction: column;
}

md-card.event-detail-card section.event-content aside div.event-date-time h4 {
    font-size: .95em;
    text-transform: uppercase;
}

md-card.event-detail-card section.event-content aside div.event-date-time span {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: .3em;
}

md-card.event-detail-card section.event-content aside div.event-location {
    margin-top: 2em;
}

md-card.event-detail-card section.event-content aside div.event-location h4 {
    font-size: .95em;
    text-transform: uppercase;
}

md-card.event-detail-card section.event-content aside div.event-location p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
}

md-card.event-detail-card section.event-content aside div.event-location p span {
    display: inline-block;
    margin-right: 5px;
}