md-spinner {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

section#event-list-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;;
    height: auto;
}

md-card-content {
    margin-bottom: 5px;
}

md-card-content div {
    display: flex;
    justify-content: center;
}

md-card.event-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 24%;
    overflow: hidden;
    margin: .5em;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
    cursor: pointer;
    transition: all .3s linear;
}

md-card.event-card.hidden {
    display: none;
}

md-card.event-card img {
    object-fit: contain;
    margin-bottom: .5em;
    min-height: 230px;
    max-height: 230px;
}

md-card.event-card p {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    margin-top: .5em;
}

md-card.event-card p.event-start-time {
    font-size: .9em;
    color: #6d7074;
}

md-card.event-card p.event-status {
    align-self: flex-end;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 0;
    text-align: right;
}

md-card.event-card p.event-status.isDraft {
    color: #FBC02D;
}

md-card.event-card p.event-status.isOpen {
    color: #4CAF50;
}

md-card.event-card p.event-status.isSoldOut {
    color: #F44336;
}

md-card.event-card p.event-status.isClosed {
    color: #9E9E9E;
}

md-card.event-card p.event-title {
    font-size: 1.1em;
    color: #424242;
    font-weight: 600;
}

md-card.event-card p.event-address {
    font-size: .85em;
    color: #6d7074;
}

md-card-actions {
    margin: 0;
}

md-card-actions span {
    font-size: .75em;
}

md-card-actions div.tooltip-host {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    float: right;
    margin-bottom: .5em;
}

md-card-actions div.tooltip-host a {
    font-size: 1em;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

md-card-actions div.tooltip-host a i {
    font-size: 1em;
    color: #6d7074;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
    section#event-list-container {
        flex-direction: column;
    }

    md-card.event-card {
        max-width: 100%;
    }
}