<section id="container">
  <md-card class="event-card" *ngFor="let event of events">
    <img md-card-image [src]="event.cover_image_url__c ? event.cover_image_url__c : lookupService.defaultEventCoverImageUrl">
    <md-card-content>
      <p class="event-start-time">{{event.start__c | DateTime: 'day' | uppercase}}</p>
      <p class="event-title">{{event.title__c | uppercase}}</p>
      <p class="event-address">{{event.address__c}}, {{event.city__c}}  {{event.state__c}}</p>
    </md-card-content>
    <md-card-actions>
      <span>{{event.remaining_seats__c}} spots left</span>
      <div class="tooltip-host" mdTooltip="Share" mdTooltipPosition="above">
        <a><i class="material-icons">share</i></a>
      </div>
    </md-card-actions>
  </md-card>
</section>
