<section class="dialog-container">
  <div *ngIf="!isConfirmRegistrationInfoActive">
    <div md-dialog-title class="dialog-title">
      <span>Register</span>
      <a (click)="closeDialog()"><i class="material-icons">clear</i></a>
    </div>
    <div md-dialog-content class="dialog-content">
      <div *ngFor="let session of sessions | orderBy: 'Start__c'" class="session-container" [ngClass]="{'selected': session.isSelected}">
        <div class="session-title">
          <span>{{session.Title__c}}</span>
          <div *ngIf="eventService.isEventSessionOpen(session); else sessionUnavailable">
            <span *ngIf="session.Remaining_Seats__c > 1">{{session.Remaining_Seats__c}} spots left</span>
            <span *ngIf="session.Remaining_Seats__c == 1">Hurry, only 1 spot left!</span>
            <span *ngIf="session.Remaining_Seats__c == 0 || session.Remaining_Seats__c < 0">Unavailable</span>
          </div>
          <ng-template #sessionUnavailable>
            <span>Unavailable</span>
          </ng-template>
        </div>
        <div class="session-register-check">
          <span *ngIf="eventService.isEventSessionSoldOut(session)">Sold Out</span>
          <span *ngIf="eventService.isEventSessionClosed(session)">Closed</span>
          <md-checkbox 
            class="select-session" 
            color="primary"
            [(ngModel)]="session.isSelected"
            *ngIf="eventService.isEventSessionOpen(session) && !eventService.isEventSessionSoldOut(session)">
          </md-checkbox>
        </div>
      </div>
    </div>
    <div md-dialog-actions class="dialog-actions">
      <button md-raised-button class="checkout-button" (click)="confirmRegistrationInfo()">Checkout</button>
    </div>
  </div>
  
  <div [ngClass]="{'hidden': !isConfirmRegistrationInfoActive}">
    <div md-dialog-title class="dialog-title">
      <a (click)="back()" class="back-button" *ngIf="!isRegistrationFormSubmitted && sessions.length > 0">
        <i class="material-icons">arrow_back</i>
      </a>
      <span *ngIf="!isRegistrationFormSubmitted">Your Information</span>
      <span *ngIf="isRegistrationFormSubmitted">Confirmation</span>
      <a (click)="closeDialog()"><i class="material-icons">clear</i></a>
    </div>
    <form 
      class="registration-form" 
      [formGroup]="registrationForm" 
      (ngSubmit)="onRegistrationFormSubmit()"
      novalidate>
    <div md-dialog-content class="dialog-content">
        <md-input-container class="form-full-width">
          <input 
            mdInput 
            placeholder="First Name *"
            formControlName="firstName"
            #attendeeFirstName
            ngModel>
        </md-input-container>
        <div class="validation-errors" *ngIf="registrationForm.controls.firstName.errors?.required && registrationForm.controls.firstName.touched">
          <md-error>First name is <strong>required</strong></md-error>
        </div>

        <md-input-container class="form-full-width">
        <input 
          mdInput 
          placeholder="Last Name *"
          formControlName="lastName"
          ngModel>
        </md-input-container>
        <div class="validation-errors" *ngIf="registrationForm.controls.lastName.errors?.required && registrationForm.controls.lastName.touched">
          <md-error>Last name is <strong>required</strong></md-error>
        </div>

        <md-input-container class="form-full-width">
          <input 
            mdInput 
            placeholder="Phone *"
            formControlName="phone"
            ngModel>
        </md-input-container>
        <div class="validation-errors" *ngIf="registrationForm.controls.phone.errors?.required && registrationForm.controls.phone.touched">
          <md-error>Phone is <strong>required</strong></md-error>
        </div>
        
        <md-input-container class="form-full-width">
          <input 
            mdInput 
            placeholder="Email *"
            formControlName="email"
            ngModel>
        </md-input-container>
        <div class="validation-errors" *ngIf="
        registrationForm.controls.email.errors?.required && registrationForm.controls.email.touched || 
        !registrationForm.controls.email.valid && registrationForm.controls.email.touched">
          <md-error *ngIf="registrationForm.controls.email.errors?.required && registrationForm.controls.email.touched">Email is <strong>required</strong></md-error>
          <md-error *ngIf="!registrationForm.controls.email.valid && registrationForm.controls.email.touched">Please enter a valid email address</md-error>
        </div>

        <md-input-container class="form-full-width">
          <input 
            mdInput 
            placeholder="Company"
            formControlName="company"
            ngModel>
        </md-input-container>
    </div>
    <div md-dialog-actions class="dialog-actions">
      <button md-raised-button type="submit" class="checkout-button complete-registration-button" [disabled]="registrationForm.invalid">Complete Registration</button>
    </div>
    </form>
  </div>

  <div class="registration-submit-loading" *ngIf="isRegistrationFormSubmitted">
    <md-spinner *ngIf="!isRegistrationSuccessful && !isRegistrationFailed"></md-spinner>
    <div *ngIf="isRegistrationSuccessful && !isRegistrationFailed">
      <h4><i class="material-icons">check_circle</i><span>Registration Success!</span></h4>
      <p>Thank you for registering! A confirmation email is sent to {{registrationForm.value.email}}, please check your mailbox for event details.</p>
      <button md-raised-button class="checkout-button complete-registration-button" (click)="refreshPage()">Done</button>
    </div>
    <div *ngIf="!isRegistrationSuccessful && isRegistrationFailed">
      <h4 class="fail-message"><i class="material-icons">error</i><span>Registration Fail</span></h4>
      <p>Uh oh! Something went wrong, please refresh the page and try again, sorry for the inconvenience.</p>
      <button md-raised-button class="checkout-button complete-registration-button refresh-button" (click)="refreshPage()">Refresh</button>
    </div>
  </div>
</section>
