section.dialog-container {
    position: relative;
}

section.dialog-container div.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}

div.dialog-title {
    display: flex;
    text-align: center;
    position: relative;
}

div.dialog-title span {
    flex: 1;
    align-self: center;
}

div.dialog-title a {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
}

div.dialog-title a.back-button {
    left: 0;
    right: auto;
}

div.dialog-content {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    min-height: 50vh;
    -webkit-overflow-scrolling: auto;
}

div.dialog-content h4 {
    margin-bottom: 2em;
    font-weight: normal;
}

div.session-container {
    display: flex;
    border: 1px solid #ccc;
    border-left: .5em solid #bbb;
    box-sizing: border-box;
    margin-top: .5em;
    padding: 1em;
}

div.session-container.selected {
    border-left: .5em solid #01ab45;
}

div.session-container div.session-title {
    display: flex;
    flex-direction: column;
}

div.session-container div.session-title span:first-child {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: 600;
}

div.session-container div.session-title span:last-child {
    font-size: 0.85em;
}

div.session-container div.session-register-check {
    margin-left: auto;
    align-self: center;
    margin-right: .5em;
}

div.session-container div.session-register-check md-checkbox {
    transform: scale(1.2);
}

div.dialog-actions button.checkout-button {
    margin: 0 auto;
    background: #01ab45;
    color: #fff;
    width: 15em;
    padding: .4em;
    font-size: 1.1em;
}

div.dialog-actions button.checkout-button[disabled] {
    background: #9E9E9E;
    cursor: not-allowed;
}

div.dialog-content md-input-container {
    width: 85%;
    margin: 0 auto;
}

div.validation-errors {
  margin-top: -1.2em;
}

div.validation-errors md-error {
    width: 85%;
    font-size: .8em;
    margin: 0 auto;
}

div.registration-submit-loading {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #fff;
}

div.registration-submit-loading div {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    height: 100%;
}

div.registration-submit-loading div h4 {
    display: flex;
    font-size: 1.2em;
    color: #01ab45;
    text-align: center;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
}

div.registration-submit-loading div h4 span {
    margin-left: 5px;
}

div.registration-submit-loading div h4.fail-message {
    color: #D32F2F;
}

div.registration-submit-loading div button {
    margin-top: auto;
    margin-bottom: 1em;
    padding: .4em;
    font-size: 1em;
    background: #01ab45;
    color: #fff;
}

div.registration-submit-loading div button.refresh-button {
    background: #D32F2F;
    color: #fff;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
    section.dialog-container {
        height: 100%;
    }

    section.dialog-container > div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    section.dialog-container > div div.dialog-actions {
        margin-top: auto;
    }

    form.registration-form {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: .9em;
    }

    div.dialog-title span {
        font-size: .85em;
    }

    div.session-container {
        font-size: .9em;
    }

    div.dialog-actions button.checkout-button {
        width: 100%;
        padding: .3em;
        font-size: 1em;
    }

}
