div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

div.container h4 {
    font-size: 3.5em;
    font-weight: lighter;
    margin-bottom: .5em;
    color: #01ab45;
}

div.container img {
    width: 400px;
    height: auto;
}

div.container button {
    margin-top: 2em;
    background: #01ab45;
    color: #fff;
    min-width: 15em;
    outline: none;
}