/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
    font-family: 'Open Sans', sans-serif !important;
    background: #ddd;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        margin: 0 !important;
    }

    div.cdk-overlay-container div.cdk-global-overlay-wrapper md-dialog-container.mat-dialog-container {
        max-width: 85vw;
        width: 90vw;
        height: 85vh;
    }
}