/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
    font-family: 'Open Sans', sans-serif !important;
    background: #ddd;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1023px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
        position: relative;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    body {
        margin: 0 !important;
    }

    div.cdk-overlay-container div.cdk-global-overlay-wrapper md-dialog-container.mat-dialog-container {
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    div.cdk-overlay-container div.cdk-global-overlay-wrapper md-dialog-container.mat-dialog-container div.dialog-content.mat-dialog-content {
        max-height: 100vh;
    }

    div.cdk-overlay-container div.cdk-global-overlay-wrapper md-dialog-container.mat-dialog-container div.dialog-content.mat-dialog-content div.session-container {
        min-height: 5.5em;
        margin-bottom: .5em;
    }

    div.cdk-overlay-container div.cdk-global-overlay-wrapper md-dialog-container.mat-dialog-container div.dialog-content.mat-dialog-content div.session-container:last-child {
        margin-bottom: 3em;
    }

    div.cdk-overlay-container div.cdk-global-overlay-wrapper md-dialog-container.mat-dialog-container div.dialog-actions.mat-dialog-actions {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
}